# Ridge and Lassso Regression

[Harvard Example Resource](https://harvard-iacs.github.io/2017-CS109A/lectures/lecture7/notebook/)

**Note:** After a decent amount of searching, I can't seem to find the data associated with the Harvard resource. I'm gonna leave it here though, as it could certainly come in handy later.

We'll use [this resource](https://refactored.ai/microcourse/notebook?path=content/05-Regression_models_in_Machine_Learning/05-Regularization/03-Lab-Regularization_guided.ipynb) instead, but either way both seem to use `sklearn` for the ridge and lasso. Given this, might as well just follow along with the example to get some practice.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

# Part 1: Data Cleaning and Prep

In [9]:
credit = pd.read_csv('../data/credit_card.csv', index_col=False)
credit.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331