# Regression PLots

[Resource](https://www.statsmodels.org/dev/examples/notebooks/generated/regression_plots.html)

In [5]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
from statsmodels.compat import lzip
from statsmodels.formula.api import ols

plt.rc('figure', figsize=(16, 8))
plt.rc('font', size=14)

# Duncan's Prestige Dataset

## Load the Data

We can use a utility function to load any R dataset available from the Rdatasets package.

In [6]:
prestige = sm.datasets.get_rdataset('Duncan', 'carData', cache=True).data
prestige.head()

            type  income  education  prestige
rownames
accountant  prof      62         86        82
pilot       prof      72         76        83
architect   prof      75         92        90
author      prof      55         90        76
chemist     prof      64         86        90

In [8]:
prestige_model = ols('prestige ~ income + education', data=prestige).fit()
print(prestige_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               prestige   R-squared:                       0.828
Model:                            OLS   Adj. R-squared:                  0.820
Method:                 Least Squares   F-statistic:                     101.2
Date:                Sat, 01 Nov 2025   Prob (F-statistic):           8.65e-17
Time:                        10:02:41   Log-Likelihood:                -178.98
No. Observations:                  45   AIC:                             364.0
Df Residuals:                      42   BIC:                             369.4
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -6.0647      4.272     -1.420      0.163     -14.686       2.556
income         0.5987      0.120      5.003      0.000       0.357       0.840
education      0.5458      0.098      5.555      0.000       0.348       0.744
==============================================================================
Omnibus:                        1.279   Durbin-Watson:                   1.458
Prob(Omnibus):                  0.528   Jarque-Bera (JB):                0.520
Skew:                           0.155   Prob(JB):                        0.771
Kurtosis:                       3.426   Cond. No.                         163.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.